#Supabase Connection String
SPDB_URL = ""

#Supabase Project URL
SPBASE_URL = ""
# Supabase Anon Key
SPBASE_KEY = ""

#Insert the Service Key here to be able to access and create the data required for Seeding and many routing applcations
SPBASE_SKEY = ""