name: FYP_PG_Container

services:
  postgres:
    container_name: fyp_db_container
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: "FYP_PG_Container"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "password"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  postgres_data: